<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GetPerson_page</title>
</head>
<body>
Person:
<p th:text="${person.getName}">PersonName</p>
<p th:text="${person.getId}">PersonId</p>
<p th:text="${person.getAge}">PersonAge</p>
<p th:text="${person.getEmail}">PersonEmail</p>
<br/>

<hr/>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back to people list">
</form>
<br/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

<!--<a th:href="@{/people}">Back to people list</a>-->
<!--<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit person</a>-->

</body>
</html>